<!-- Header -->
<div class= "title_page">
	<h1>Worlds, Witches, Roger and Good Old Fashioned Time Travel</h1>
</div>

<!-- Main Canvas Screen -->
<div id="screen"></div>

<!-- Comments -->
<div id="comments-container">
<!-- Comment Input -->
<div class="wrapper">
<% if current_user %>
	<div id="comment-cont">
		<input type="text" id="comment-text" placeholder="Add comment here..."/><button id="add-comment">Add Comment</button>
	</div>
<% else %>
	<div id="hidden-add-comment">
		<input type="text" id="comment-text" placeholder="Add comment here..."/><button id="add-comment">Add Comment</button>
	</div>
<% end %>

<!-- Comments -->
<div id="hold-comments">
	<ul id="comments">
		<% @comments.each do |comment| %>
		<% user = User.find_by_id(comment.user).email.slice(0..(comment.user.email.index('@') - 1)) %>
			<li><span class="the-comment"><%= "#{comment.the_comment}" %></span> <span class="author"><%= "created by #{user}" %></span></li>
			<li><hr class="comment-hr"/></li>
		<% end %>
	</ul>
</div>
</div>

<script type="text/javascript">
	window.onReady(function onReady() {
		game.onload();

		// Mobile browser hacks
		if (me.device.isMobile && !navigator.isCocoonJS) {
			// Prevent the webview from moving on a swipe
			window.document.addEventListener("touchmove", function (e) {
				e.preventDefault();
				window.scroll(0, 0);
				return false;
			}, false);

			// Scroll away mobile GUI
			(function () {
				window.scrollTo(0, 1);
				me.video.onresize(null);
			}).defer();

			me.event.subscribe(me.event.WINDOW_ONRESIZE, function (e) {
				window.scrollTo(0, 1);
			});
		}
	});
</script>