body {
    background-color: #2A2C2B;
    color: #D9CB9E;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}
/*#avatar {
    float: left;
    margin-left: 0
}
*/

#container {
 display: inline-block;
 margin-top: 0px;
}

.title_page {
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 20px;
    text-align: center;
    color: #D9CB9E;
    margin: 100px;
    
}
h2 {
    text-align: center;
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 25px;
    color: #D9CB9E;

}

h3 {
    text-align: center;
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 25px;
    color: #D9CB9E;

}

#cancel {
    text-align: center;
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 20px;
    color: #D9CB9E;

}
/*#darth-fader {
    text-align: center;

}*/
#new_user, #edit_user {
    text-align: center;
    margin: 5em;
    
}

#user_nav{
    font-family: 'Share Tech Mono', sans-serif;
    color: #D9CB9E;
    font-size: 16px;
    float: right;
    display: inline-block;

}

#sign-in-form, #user_nav{
    font-family: 'Share Tech Mono', sans-serif;
    color: #D9CB9E;
    font-size: 16px;
    float: right;
    display: inline-block;

}
#screen canvas {
    margin: auto;
    border: 4px solid white;

    /* Hide the gap for font descenders. */
    display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#scrollContainer {
    height : 400px;
    width : 400px;
    overflow : hidden;
}

p {
    margin-bottom : 8px;
    text-align: center;
}

p.dimmed {
    opacity : 0.5;
}
p.highlighted {
    opacity : 1;
    background-color : #CCDDFF;
}

#hidden-add-comment {
    text-align: center;
    display: none;
}

#comment-text {
    width: 80%;
    height: 30px;
    margin-top: 15px;
}

#add-comment {
    height: 35px;
    margin-left: 0;
    background-color: #D9CB9E;
}

#comment-cont {
    text-align: center;
}

#comments {
    list-style-type: none;
    text-align: center;
    margin-left: -8%;
}

#hold-comments {
    margin-top: 20px;
    text-align: center;
}

.the-comment {
    
}

.author {
    font-size: 10px;
    font-color: lightgray;
}

.comment-hr {
    width: 70%;
}
