body {
    background-color: lightgreen;
    color: #fff;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;
	
	/* disable touch panning/zooming */
	-ms-touch-action: none;
	touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
}

#screen canvas {
    margin: auto;

    /* Hide the gap for font descenders. */
    display: block;
	
	/* disable scaling interpolation */
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

#scrollContainer {
    height : 400px;
    width : 400px;
    overflow : hidden;
}

p {
    margin-bottom : 8px;
}

p.dimmed {
    opacity : 0.5;
}
p.highlighted {
    opacity : 1;
    background-color : #CCDDFF;
}

#comments-container {
    border: 1px solid black;
}

#comment-text {
    width: 70%;
}

#add-comment {
    padding: 10px 20px 10px 20px;
}

#comments-h2 {
    text-align: center;
}

