#profile-container {
	text-align: center;
	width: 100%;
}

#profile-container button {
	margin: 20px 10px;
	background-color: #D9CB9E;
	border: none;
	padding: 15px 45px;
	color: white;
	border-radius: 10px;
}

#profile-container table {
	margin: 0 auto;

}

#comment-table {
	display: none;
}